extends layout

block content
  #banner.page-header

  .row
    .col-xs-12.col-sm-3

    .col-xs-12.col-sm-6
      .cover-container
        .iner.cover
          h1.cover-heading= title
          p.lead= pageHeader.title
          p.lead Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem natus fuga, accusantium deserunt quos consectetur iste sequi minus cum sit. Incidunt quia assumenda sed aliquam reiciendis suscipit eos illo officiis.
          p.lead
            a.btn.btn-lg.btn-default.acover(href="/list") Disk List

    .col-xs-12.col-sm-3