doctype html
html(lang="es")
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/amelia.bootstrap.css')
    link(rel="stylesheet", href="/stylesheets/cover.css")
    link(rel="stylesheet", href="/stylesheets/footer.css")
    link(rel="stylesheet", href="/stylesheets/style.css")

  body
    <!-- header -->
    header
      .navbar.navbar-default.navbar-fixed-top
        .container
          .navbar-header
            a.navbar-brand(href='/')= title
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
              span.icon-bar
              span.icon-bar
              span.icon-bar
          #navbar-main.navbar-collapse.collapse
            ul.nav.navbar-nav
              li
                a(href='/list') List
    
    <!-- contenido -->
    nav
      .container
        block content
    
    <!-- footer -->
    footer.footer-basic-centered.container-fluid
      p.footer-company-motto The company Name.
      p.footer-company-name Company Name © 2019 -
        span.text-muted
          a(href="#").text-muted - @juanrdzbaeza
      

    script(src='/javascripts/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
